h1 {
  text-align: center;
}

.form-login img {
  margin-bottom: 80px;
}

.button-login {
  background-color: rgb(8, 141, 8);
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-weight: 600;
  padding: 12px 10px;
  transition: all 0.5s ease;
  width: 200px;
}

.button-login:disabled {
  background-color: rgb(141, 248, 141);
  transition: all 0.5s ease;
}

.button-login:enabled:hover {
  background-color: rgb(2, 82, 2);
  transition: all 0.5s ease;
}

.login-container {
  display: flex;
  justify-content: center;
}

.form-login {
  align-items: center;
  background-color: rgba(241, 240, 240, 0.1);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 500px;
  justify-content: center;
  padding: 50px;
  position: absolute;
  top: 25%;
  width: 600px;
}

.input-login {
  background-color: rgba(255, 255, 255, 0.3);
  border: none;
  border-radius: 10px;
  color: white;
  font-weight: 600;
  margin-bottom: 30px;
  padding: 15px;
  width: 400px;
}
